/* styles.css */

#background {
    position: absolute;
    width: 1254px;
    height: 706px;
    left: 100px;
    top: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('images/background.png'); /* Update the path accordingly */
}

.clickable-area {
    position: absolute;
    cursor: pointer;
}
